<% layout('layouts/boilerplate') %>

<div class="row">
  <%- include('../partials/aside') %>



  <div class="col-xs-9 col-sm-9 col-md-9 col-lg-10 pb-3 mt-1" style="height:auto;">
    <div>
      <% if (!currentUser) {%>
      <header class="jumbotron">
        <h1><i class="fas fa-music"></i> Welcome to Playlist-ify</h1>
        <p>Search through our database of music for the right songs and artists and become a playlist god! <br>
          Feel free to browse our database of music, playlists, and artist. <br>
          Register or Login to listen to music or create your own playlists.</p>
        <%}%>
        </header>
    </div>


      <% if (currentUser) {%>
        <!-- show uniquely yours playlists and then below that ALL playlists -->
        <div class="ui container mb-5">
          <h1 class=" mb-5">Uniquely Yours</h1>
          <div class="ui grid mb-3 row text-center">
            <% usersPlaylists.forEach(function(playlist) {%>
            <div class="card col-xs-6 col-sm-4 col-md-3 col-lg-3 mb-2">

              <div class="thumbnail">
                <div style="max-height: 125px; min-height:125px;
                    overflow: hidden;" class="preview">
                  <img class="img-thumbnail card-fluid glimpse" src="<%=playlist.image%>" alt="">
                </div>

                <div class="card-body">
                  <div class="caption">
                    <h5 class="card-title mb-2"> <%= playlist.name %> </h5>
                  </div>
                  <p class="more">

                    <a class="button" href="/playlists/<%= playlist._id %>"><button
                        class="btn btn-primary">View</button></a>

                  </p>
                </div>
              </div>

            </div>

            <%});%>
          </div>
        </div>

        <!-- ALL Playlists -->
        <div class="ui container mb-5">
          <h1 class=" mb-5">Playlists</h1>
          <div class="ui grid mb-3 row text-center">
            <% removedLiked.forEach(function(playlist) {%>
            <div class="card col-xs-6 col-sm-4 col-md-3 col-lg-3 mb-2">

              <div class="thumbnail">
                <div style="max-height: 150px;
                    overflow: hidden;" class="preview">
                  <img class="img-thumbnail card-fluid glimpse" src="<%=playlist.image%>" alt="">
                </div>

                <div class="card-body">
                  <div class="caption">
                    <h5 class="card-title mb-2"> <%= playlist.name %> </h5>
                  </div>
                  <p class="more">

                    <a class="button" href="/playlists/<%= playlist._id %>"><button
                        class="btn btn-primary">View</button></a>

                  </p>
                </div>
              </div>

            </div>

            <%});%>
          </div>
        </div>


        <%} else {%>
        <!-- dont show uniquely yours -->


        <!-- PLAYLISTS -->

        <!-- ALL Playlists -->
        <div class="ui container mb-5">
          <h1 class=" mb-5">Playlists</h1>
          <div class="ui grid mb-3 row text-center">
            <% removedLiked.forEach(function(playlist) {%>
            <div class="card col-xs-6 col-sm-4 col-md-3 col-lg-3 mb-2">

              <div class="thumbnail">
                <div style="max-height: 150px;
                    overflow: hidden;" class="preview">

                  <% if (playlist.image.length > 30) {%>
                  <img class="img-thumbnail card-fluid glimpse" src="<%=playlist.image%>" alt="">
                  <% }else { %>
                  <img class="img-thumbnail card-fluid glimpse" src="https://via.placeholder.com/100" alt="">
                  <%}%>
                </div>

                <div class="card-body">

                  <div class="caption">
                    <h5 class="card-title mb-2"> <%= playlist.name %> </h5>
                </div>

                <p class="more">
                  <a class="button" href="/playlists/<%= playlist._id %>"><button
                      class="btn btn-primary">View</button></a>
                </p>

              </div>

              <!-- closing VVV div.thumbnail class -->
            </div>

          </div>

          <%});%>
        </div>
    </div>
    <%}%>



        <!-- SONGS -->
    <div id="songs" class="ui container">
      <h1 class="mb-5">Songs</h1>
      <div class="ui grid mb-3 row text-center">
        <% allSongs.forEach(function(song) {%>
    <div id="songs" class="card col-xs-6 col-sm-4 col-md-3 col-lg-3 mb-3">

      <div class="thumbnail">
        <div style="max-height: 150px;
              overflow: hidden;" class="preview">
          <% if (song.image) {%>
          <img class="img-thumbnail card-fluid glimpse" src="<%=song.image%>" alt="">
          <% } else {%>
          <img class="img-thumbnail card-fluid" src="https://via.placeholder.com/150" alt="">
          <%}%>
            </div>
          
            <div class="card-body" style="padding: 0 0 1em 0;">
              <div class="caption" style="min-height:70px; margin-top:0; margin-bottom:1em; width: inherit;">
                <h8 class="card-title"> <strong><%= song.name %></strong> </h8>
          <p class="card-content"> <%= song.artist %></p>
        </div>
        <!-- <p class="card-content"> Song ID: <%= song.id %></p> -->

        <div class="row d-flex justify-content-around">
          <% if (currentUser) {%>
          <i class="far fa-heart like">
            <form action="/playlists/<%= currentUser.playlists[0]._id %>" method="PATCH"></form>
          </i>

          <i class="fas fa-plus-square add" type="button" data-toggle="modal" data-target="#playlistChoices">

          </i>

          <!-- <i class="fas fa-ellipsis-h options btn btn-xs" style="margin-left:-1.5em;" ></i> -->


          <div class="">
            <i id="play" class="btn btn-md btn-success fas fa-play"></i>
          </div>
          <%} else {%>
            <div class="" style="width: 50%; border: 1px solid red;">
                <i id="play" class="btn btn-md btn-success fas fa-play"></i>
            </div>
          <% }%>

        </div>

      </div>

    </div>
  </div>


  <%});%>
</div>
</div>



<!-- playlistChoices modal -->
<div class="modal center fade" id="playlistChoices" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="width: 50%;">
      <div class="modal-header">
        Add to:
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul style="list-style-type: none; padding:0; margin:0 1em;">
          <% usersPlaylists.forEach(function(playlist) {%>
          <li class="modalPlaylistList row optionsChoice btn d-flex justify-content-left" type="button"
            data-toggle="modal">
            <p>
              <%= playlist.name %>
              <!-- <%= playlist._id %> -->
            </p>
          </li>
          <%})%>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- ARTISTS -->
<div id="artists" class="ui container mb-5">
  <h1 class="mt-5 mb-5">Artists</h1>
  <div class="ui grid mb-3 row text-center">
    <% allArtists.forEach(function(artist) {%>
    <div id="artists" class="card col-xs-6 col-sm-4 col-md-3 col-lg-3 mb-2">

      <div class="thumbnail">
        <div class="preview">
          <% if (artist.image) {%>
          <img class="img-thumbnail card-fluid glimpse" src="<%=artist.image%>" alt="">
          <% } else {%>
          <img class="img-thumbnail card-fluid glimpse" src="https://via.placeholder.com/200" alt="">
          <%}%>
                          </div>
                          <div class="card-body">
                            <div class="caption">
                              <h5 class="card-title mb-2"> <strong><%= artist.name %> </strong></h5>
        </div>
        <p class="more">

          <a class="button" href="/artist/<%= artist._id %>"><button class="btn btn-primary">
              Discography</button></a>

        </p>
      </div>
    </div>

  </div>


  <%});%>
</div>

</div>
</div>
</div>