<% layout('layouts/boilerplate') %>


<div class="container">
  <div class="text-center">
    <h1 class="playlistTitle mt-3 mb-3"><%= playlist.name %></h1>
    <caption>playlist created by : <%= playlist.author.username %></caption>
  </div>

  <div class="row text-center">
    <img id="pic" src="<%= playlist.image %>" class="mx-auto d-block img-fluid">
  </div>
</div>

<div class="ui">
  <div class="row">
    <div class="col-sm-1 col-md-1 col-lg-1 text-center">#</div>
    <div class="col-sm-2 col-md-1 col-lg-1 text-center"></div>
    <div class="col-sm-1 col-md-1 col-lg-1 text-center">Liked</div>
    <div class="col-sm-6 col-md-7 col-lg-7">Title</div>
    <div class="col-sm-1 col-md-1 col-lg-1"><i class="far fa-clock"></i></div>
    <div class="col-sm-1 col-md-1 col-lg-1">Options</div>
  </div>

  <%  %>
  <div class="row" style="border-top: 1px solid grey; border-bottom: 1px solid grey; padding: 0.5em 0">
    <div class="col-sm-1 col-md-1 col-lg-1 text-center"><%= index + 1 %></div>
    <div class="col-sm-2 col-md-1 col-lg-1 text-center"><i id="play" class="btn btn-md btn-success fas fa-play"></i>
    </div>
    <div class="col-sm-1 col-md-1 col-lg-1 text-center"><i class="far fa-heart like"></i></div>
    <div class="col-sm-6 col-md-7 col-lg-7"><%= song.name %></div>
    <div class="col-sm-1 col-md-1 col-lg-1"><%= song.length %></div>
    <div class="col-sm-1 col-md-1 col-lg-1 text-center">
      <i class="fas fa-ellipsis-h options btn btn-xs" style="margin-left:-1.5em;" type="button" data-toggle="modal"
        data-target="#optionsMenu"></i>
    </div>



  </div>
  <%  %>
</div>
<br>

<% if (currentUser && playlist.author.equals(currentUser._id)) { %>
<form action="/playlists/<%=playlist._id%>?_method=DELETE" method="POST">
  <button class="ui button red right floated">Delete</button>
</form>
<%}%>
<a class="btn btn-primary" href="/browse">Go Back</a>