<% layout('layouts/boilerplate') %>


<div class="container">
  <div class="text-center">
    <h1 class="playlistTitle mt-3 mb-3"><%= playlist.name %></h1>
    <caption>playlist created by : <%= playlist.author.username %></caption>
  </div>

  <div class="row text-center">
    <img id="pic" src="<%= playlist.image %>" class="mx-auto d-block img-fluid">
  </div>
</div>

<div class="container">
  <table>
    <tr>
      <td class="space">
      <td id="adjustment" class="title">Title</td>
      <td class="artist">Artist</td>
    </tr>

<!-- REPLACE TR TABLE WITH BOOTSTRAP GRID SYSTEM -->
    <% playlist.songs.forEach(function(song){ %>
    <tr class="list" style="border-top: 1px solid black; border-bottom:1px solid black;">
      <!-- MAKE ICON CHANGE COLOR AND ADDED TO "LIKED SONGS" PLAYLIST  WHEN CLICKED-->
      <td id="heart">
        <form class="col-2" action="/playlists/" method="PATCH">
          <i class="fas fa-heart like"></i>
        </form>
      </td>

      <%= song %>


      <td id="playbutton">
        <a class="btn btn-sm btn-success" href="/<%= song._id %>">Play</a>
      </td>

      <td class="title">
        <%= song.name %>
      </td>

      <td class="artist">
        <%= song.artist %>
      </td>

      <td class="more extended">
        <form class="col-2" action="" method="PATCH">
          <i class="fas fa-plus-square add"></i>
        </form>
      </td>
    </tr>

    <% }); %>

  </table>

  <div class="container"></div>


</div>

<% if (currentUser && playlist.author.equals(currentUser._id)) { %>
<form action="/playlists/<%=playlist._id%>?_method=DELETE" method="POST">
  <button class="ui button red right floated">Delete</button>
</form>
<%}%>
<a class="btn btn-primary" href="/browse">Go Back</a>