<% layout('layouts/boilerplate') %>

<div class="row">
  <%- include('../partials/aside') %>


  <div class="main col-xs-10 col-sm-10 col-md-9 col-lg-10 mb-5 pb-5 text-white">

    <div id="artistGradient">
        <div id="dynamicNav" class="row align-items-center fixed-top"
        style="margin-top:4em; margin-left: 179px; width: 100%;">        <div class="col-md-2">
          <a class="btn mb-3 mx-2 mt-3 backAndNext text-white" onclick="goBack()">
            <i class="fas fa-chevron-left"></i></a>
          <a id="forward" class="btn mb-3 mt-3 backAndNext" onclick="goForward()"><i id="forward"
              class="fas fa-chevron-right"></i></a>
        </div>

        <div class="col-md-10">
          <form action="/search?" id=searchBarForm>
            <input id="searchBar" autofocus type="search" placeholder="Search for artists or songs"
              aria-describedby="button-addon3" class="form-control bg-none border-1">
          </form>
        </div>
      </div>

      <div id="artistImage" class="row mb-2 col-sm-12 col-md-12 col-lg-12">
        <img style="margin-left:1em;" src="<%= artist.image%>" alt="">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 header">
          <p style="display:flex; align-items: center;"><i class="far fa-check-circle"
              style="background-color: rgb(52, 52, 238);" aria-hidden="true"></i> Verified Artist</p>
          <h1 class="col-xs-6 col-sm-6 col-md-6 col-lg-6"
            style="padding-left: 0; display:flex; font-size: 4em; align-items: center;">
            <%= artist.name%></h1>

          <p class="mt-5"> 265,387 monthly listeners </p>
        </div>
      </div>

    </div>

    <div class="d-flex justify-content-start mb-3">

      <i id="playAll" class="btn btn-md btn-success fas fa-play"></i>

<% if (currentUser) { %>
      <a class="" href="#" style=" margin-top: 1em;" role="button" id="dropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i id="playlistOptions" class="fas fa-ellipsis-h meatball btn btn-xs text-center text-white"></i>
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Follow</a>
        <a class="dropdown-item" href="#">Go to artist radio</a>
        <a class="dropdown-item" href="#">Share  
          <i class="fas fa-chevron-right"></i>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Open in Desktop app</a>
      </div>
      <% } %>

    </div>

    <div id="list" class="ui">
      <div class="row" style="padding-bottom: 1vh; border-bottom: 1px solid grey;">
        <div class="col-sm-1 col-md-2 col-lg-1 text-center">#</div>
        <%if (currentUser){ %>
        <div class="col-sm-1 col-md-1 col-lg-1 text-center" style="margin-left:-2em;">Liked</div>
        <% } %>

        <div class="col-sm-5 col-md-6 col-lg-6">Title</div>
        <div class="col-sm-1 col-md-1 col-lg-1"><i class="far fa-clock"></i></div>
        <%if (currentUser){ %>
        <div class="col-sm-2 col-md-2 col-lg-1 text-center">Options</div>
        <% } %>

      </div>

      <% songs.forEach(function(song, index) { %>
      <div class="row songRow d-flex align-items-center">
        <div class="col-sm-2 col-md-2 col-lg-1 d-flex justify-content-center">
          <span class="listIndex"><%= index + 1 %> </span>

          
          
          
          <!-- play button intended for hover -->
          <i class="btn  btn-success fas fa-play listPlay"></i>




        </div>

        <%if (currentUser){ %>
        <div class="col-sm-1 col-md-1 col-lg-1 text-center listLike">
          <i class="far fa-heart like"></i></div>
        <% } %>

        <div class="col-sm-5 col-md-6 col-lg-6"><%= song.name %></div>
        <div class="col-sm-1 col-md-1 col-lg-1"><%= song.length %></div>
        <%if (currentUser){ %>
        <div class="col-sm-2 col-md-2 col-lg-1 text-center options">
          <span><%= song.json %></span>

          <i class="fas fa-ellipsis-h meatball btn btn-xs text-center text-white" type="button"  
            aria-expanded="false" data-toggle="dropdown" data-target="#songOptions">
          </i>


          <div class="dropdown-menu" aria-labelledby="dropdownSong">
            <a class="dropdown-item" href="#">Add to queue</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Go to song radio</a>
            <a class="dropdown-item" href="#">got to artist</a>
            <a class="dropdown-item" href="#">Go to album</a>
            <a class="dropdown-item" href="#">Show credits</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Save to Liked Songs</a>
            <a class="dropdown-item" href="#">
              Add to Playlist 
              <i class="fas fa-chevron-right"></i>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Share</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Open in Desktop app</a>
          </div>


        </div>
        <% } %>

      </div>
      <% }) %>
    </div>

  </div>


</div>