<% layout('layouts/boilerplate') %>

<div class="row">
  <%- include('../partials/aside') %>


  <div class="col-xs-10 col-sm-10 col-md-9 col-lg-10 mb-5 pb-5 text-white">
    
    <div id="artistGradient">
      <div class="row align-items-center">
        <div class="col-md-2">
          <a class="btn mb-3 mx-2 mt-2 backAndNext text-white" onclick="goBack()"><i
              class="fas fa-chevron-left"></i></a>
          <a id="forward" class="btn mb-3 mt-2 backAndNext" onclick="goForward()"><i id="forward"
              class="fas fa-chevron-right"></i></a>
        </div>

        <div class="col-md-10">
          <form action="/search?" id=searchBarForm>
            <input id="searchBar" autofocus type="search" placeholder="Search for artists or songs"
              aria-describedby="button-addon3" class="form-control bg-none border-1">
          </form>
        </div>
      </div>

      <div id="artistImage" class="row mt-3 mb-2 col-sm-12 col-md-12 col-lg-12">
        <img style="margin-left:1em;" src="<%= artist.image%>" alt="">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 header">
          <p style="display:flex; align-items: center;"><i class="far fa-check-circle"
              style="background-color: rgb(52, 52, 238);" aria-hidden="true"></i> Verified Artist</p>
          <h1 class="col-xs-6 col-sm-6 col-md-6 col-lg-6"
            style="padding-left: 0; display:flex; font-size: 4em; align-items: center;">
            <%= artist.name%></h1>

          <p class="mt-5"> 265,387 monthly listeners </p>
        </div>
      </div>

    </div>

    <div class="d-flex justify-content-start mb-3">

      <i id="playAll" class="btn btn-md btn-success fas fa-play"></i>


      <a class="" href="#" style=" margin-top: 1em;" role="button" id="dropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i id="playlistOptions" class="fas fa-ellipsis-h meatball btn btn-xs text-center text-white"></i>
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Add to Playlist secondary dropdown menu</a>
        <a class="dropdown-item" href="#">Another action</a>

        <a class="dropdown-item" href="#">
          yet another thing
        </a>
      </div>

    </div>

    <div id="list" class="ui">
      <div class="row" style="margin-right:1.1em;">
        <div class="col-sm-1 col-md-2 col-lg-1 text-center">#</div>
        <%if (currentUser){ %>
        <div class="col-sm-1 col-md-1 col-lg-1 text-center"; style="margin-left:-2em;">Liked</div>
        <% } %>

        <div class="col-sm-5 col-md-6 col-lg-6">Title</div>
        <div class="col-sm-1 col-md-1 col-lg-1"><i class="far fa-clock" style="padding-left:0.5em;"></i></div>
        <%if (currentUser){ %>
        <div class="col-sm-2 col-md-2 col-lg-1 text-center">Options</div>
        <% } %>

      </div>

      <% songs.forEach(function(song, index) { %>
      <div class="row songRow" style="border-top: 1px solid grey; padding: 0.5em 0; margin-right:1em;">
        <div class="col-sm-2 col-md-2 col-lg-1 text-center">
          <span class="listIndex"><%= index + 1 %> </span>
          <i class="btn btn-success fas fa-play play listPlay"></i>
        </div>

        <%if (currentUser){ %>
        <div class="col-sm-1 col-md-1 col-lg-1 text-center listLike">
          <i class="far fa-heart like"></i></div>
        <% } %>

        <div class="col-sm-5 col-md-6 col-lg-6"><%= song.name %></div>
        <div class="col-sm-1 col-md-1 col-lg-1"><%= song.length %></div>
        <%if (currentUser){ %>
        <div class="col-sm-2 col-md-2 col-lg-1 text-center options">
          <span><%= song.json %></span>
          <i class="fas fa-ellipsis-h meatball btn btn-xs text-center text-white" type="button" data-toggle="modal"
            data-target="#optionsMenu"></i>


        </div>
        <% } %>

      </div>
      <% }) %>
    </div>

  </div>


  <!-- optionsMenus modal -->
  <!-- <div class="modal right fade" id="optionsMenu" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content" style="width: 50%;">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="padding:0;">
            <ul class="mb-0" style="list-style-type: none; padding:1em;">
              <li type="button" class="optionsChoice btn d-flex justify-content-left" data-toggle="modal"
                data-target="#playlistChoices" style="width:90%;">
                <p><i class="fas fa-chevron-left"></i> Add song to
                  Playlist
                </p>
              </li>
              <li class="optionsChoice btn d-flex justify-content-left" type="button" style="width:90%;">
                <p>     Add to Liked Songs</p>
              </li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div> -->

  <!-- playlistChoices modal -->
  <!-- <div class="modal center fade" id="playlistChoices" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="width: 50%;">
          <div class="modal-header">
            Add to:
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <ul style="list-style-type: none; padding:0; margin:0 1em;">
              <% usersPlaylists.forEach(function(playlist) {%>
              <li class="modalPlaylistList row optionsChoice btn d-flex justify-content-left" type="button"
                data-toggle="modal">
                <p class="playlistChoice">
                  <%= playlist.name %>
                   <%= playlist._id %>
                </p>
              </li>
              <%})%>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> -->







</div>